.product-banner{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    ul{
        li{
            list-style: none;
            color: #fff;
        }
    }

}

.products-section{
    width: 100%;
}

.product-item{
    border-radius: 0.25rem;
    box-shadow: 0px 0px 1.5rem 0.75rem rgba(0,0,0,0.04);
    overflow: hidden;
    &:hover{
        transform: translateY(-4px);
        box-shadow: 0px 0px 25px 12px rgba(0,0,0,0.08);
    }
    
    .prod-item-img{
        width: 100%;
        height: 21.25rem !important;
        position: relative;
        z-index: 1;
        &:hover .item-overlay{
            transform: scale(1);
        }
        .img-fluid{
            width: 100%;
            height: 100%;
            border-radius: 0.25rem 0.25rem 0 0;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
        }
        .item-overlay{
            height: 100%;
            width: 100%;
            background: rgba(0,82,165,0.55);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s all ease;
            transform: scale(0);
        }

    }
    .prod-item-content{
        padding: 1rem;
        text-align: center;
        .item-content-left{
            text-align: left;
        }
    }
    .price{
        color: $secondary-color;
    }
    .rating{
        color: $primary-color;
    }

}



// .line--limit-4 {
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 4;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }
// .sticky-sidebar {
//     position: sticky;
//     top: 0;
// }