
$mobile-width: 575px;

@mixin mobile{
    @media (max-width: $mobile-width){
        
    }
}

@mixin mobile-btn {
    @media (max-width:540px){
        padding: 12px 14px !important;
        font-size: 13px !important;
        line-height: 1;
        letter-spacing: 0;
        
     }
    
}


